/* About header styling */
html, body {
  overflow-x: hidden;
}
.about-header {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.info-section{
  font-family: "IBM Plex Mono", monospace;
  padding: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
  width: 100vw;
  padding-left: 2rem;
  padding-top: 2rem;
  gap: 2rem;
}

/* Skills section to hold all skill categories */
.skills-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40vw;
}

/* Styling for the individual skills box with base dark gray and glassmorphic hover effect */
.skills_box {
  font-family: "IBM Plex Mono", monospace;
  background: rgba(20, 20, 20, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #C0C0C0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  backdrop-filter: blur(0px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.skills_box h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

/* Hover effect for glassmorphism */
.skills_box:hover {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1); /* Translucent white */
  backdrop-filter: blur(8px); /* Glass effect with blur */
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2), 0 4px 20px rgba(255, 255, 255, 0.1);
}

/* Grid to hold skill icons */
.skills_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
}

.skill_icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

/* Responsive adjustments */
@media (max-width: 1100px) {
  .skills_box h2{
    font-size: 1rem;
  }
  .skills_box{
    font-size: 0.5rem;
  }
  .about-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-right: 0;
    width: 80%;
  }
  .about-header{
    font-size: 2rem;
  }

  .info-container{
    flex-direction: column;
    align-items: center;
  }

  .skills-section {
    flex-direction: column;
    width: 10vw;
  }

  .skills_box {
    width: 90%;
  }
}
