html, body {
    overscroll-behavior: none;
    font-family: 'AquireLight', sans-serif;
}

.home-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.connecting-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0; 
    animation: fadeIn 2s ease-in forwards; 
    animation-delay: 4s;
}

.heading {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
    font-weight: 300;
    z-index: 0;
    font-size: 3rem;
    text-align: center;
    cursor: default;
    width: 100%;
}

.heading-title{
  font-family: 'AquireBold', sans-serif;
    font-size: 8rem;
    font-weight: 700; 
    color: #FFFFFF; 
   
}

.subHeading {
    opacity: 0; 
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 2s;
    font-family: 'AquireLight', sans-serif;
    font-size: 2rem;                
    font-weight: bold;               
    font-style: italic;          
    color: #ffffff;             
    letter-spacing: 0.1rem;          
    text-transform: uppercase; 
  }

  .subHeading:nth-child(3) {
    animation-delay: 2.5s;
  }

.navigate-button {
    width:20%;
    position: relative;
    display: flex;
    justify-content: center;  
    align-items: center;     
    background-color: rgba(26, 26, 26, 0.6);
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    border: 2px solid transparent;
    border-radius: 5px;
    color: #C0C0C0; /* Metallic gray color */
    font-size: 2.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    opacity: 0;
    margin-top: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 15px rgba(255, 255, 255, 0.2);
    animation: fadeUp 1.5s ease-in forwards;
    animation-delay: 3s;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-color: rgba(255, 255, 255, 0.3);
    font-family: 'AquireLight', sans-serif;
}

.navigate-button:hover{
    transform: scale(1.1);
}

.bottomButtons{
    position: absolute;
    bottom: 0;
    z-index: 3;
    margin-left: 1rem;
    opacity: 0; 
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 2s;
}
.button-image {
    filter: invert(100%) brightness(2);
    width: 3rem; 
    height: 3rem;
    margin-left: 1rem;
}

.small-resume {
    width: 2.5rem;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeUp{
    from{
        opacity: 0;
        margin-top: 5%
    }
    to {
        opacity: 1;
        margin-top: 1%;
    }
  }

  @media (max-width: 1100px) {
    .connecting-dots {
        opacity: 1;
        animation: none;
    }
  }