.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-container {
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  width: 100%;
}
.nav-name-container {
  flex-grow: 1;
  left: 0;
  margin: 10px; 
  transition: transform 0.5s ease;
  font-weight: bold;
}

.nav-name {
  color: #c9c9c9; 
  font-size: 3vw;
  font-family: "Zeyada", cursive;
  letter-spacing: 1px; 
  margin-right: 35vw;
}

.nav-item {
  white-space: nowrap;
  color: #c9c9c9;
  font-size: 1vw;
  font-family: 'Arial', sans-serif;
  margin-left: 3vw;
  position: relative; 
  display: inline-block;
}

.letter {
  display: inline-block;
  position: absolute; 
  color: #c9c9c9;
  font-size: 1vw;
  font-family: 'Arial', sans-serif;
}


.link-logo {
  padding-top: 2vw;
  width: 2vw;
  height: 2vw; 
}

.link-item {
  margin-bottom: 1.8vw;
  background-color: #c9c9c9;
  border-radius: 4px;
  padding: 4px; 
  display: inline-block;
  margin-right: 3vw;
}

.nav-list {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: flex-start;
  flex-grow: 1;
  margin: 1vw; 
  padding-left: 30vw;
  font-weight: bold;
}



/* Hamburger css */

.hamburger {
  cursor: pointer;
  width: 1.5vw; 
  height: 1.5vw; 
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  padding-right: 1vw;
  padding-top: 1vw;
}


.hamburger span {
  display: block;
  height: 0.1vw;
  width: 100%;
  background: #c9c9c9;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.hamburger-slideover span {
  background: black;
}

.hamburger-right {
  display: flex;
  justify-content: flex-end; /* Aligns Hamburger to the right */
  padding: 10px; /* Adjust padding for positioning */
  width: 100%; /* Ensures the div takes full width of its container */
}


.hamburger:not(.open):hover span:nth-child(1) {
  transform: translateY(-5px);
}

.hamburger:not(.open):hover span:nth-child(2) {
  transform: translateY(0px);
}

.hamburger:not(.open):hover span:nth-child(3) {
  transform: translateY(5px);
}

.hamburger.open:hover span:nth-child(1) {
  transform: rotate(45deg) translateX(-5px);
}

.hamburger.open:hover span:nth-child(3) {
  transform: rotate(-45deg) translateX(5px) translateY(5px);
}
/* slideoverNav css */
.slideover-container {
  position: fixed;
  right:0;
  width: 35%; 
  height: 100%;
  background-color: #c9c9c9;
  transform: translateX(100%);
  transition: transform 0.8s ease;
  border-radius: 20px;
  z-index: 100; 
}

.slideover-container.open {
  transform: translateX(0); 
}


@media (max-width: 767px){
  .nav-list {
    display: none;
  }
  .hamburger {
    width: 4vw; 
    height: 4vw; 
    padding-right: 4vw;
    padding-top: 4vw;
  }
};



/* You might need to adjust the font-size and spacing based on your specific needs */

